.fist-title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-shadow: 5px 5px 10px rgb(70, 150, 150);
    color: rgb(30, 80, 80);
}

.img-games {
    width: 150px;
    height: 150px;
}

.custom-tooltip {
    --bs-tooltip-bg: rgba(10, 50, 50, 0.9);
    --bs-tooltip-color: bisque;
    --bs-tooltip-padding-x: 0.7rem;
    --bs-tooltip-padding-y: 0.7rem;
    font-weight: 600;
    font-size: 0.8rem;
}

/* RESPONSIVE  */
/* Tablets y celulares grandes (≤ 768px) */
@media (max-width: 768px) {
    .fist-title {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
    }

    .img-games {
        width: 150px;
        height: 150px;
    }

    .btn-games {
        gap: 2rem;
        flex-wrap: wrap;
    }
}

/* Celulares medianos y chicos (≤ 480px) */
@media (max-width: 480px) {
    .fist-title {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }

    .img-games {
        width: 120px;
        height: 120px;
    }

    .btn-games {
        flex-direction: column;
        gap: 1.5rem;
    }

    .btn-play {
        width: 50%;
    }
}

/* Celulares ultra chicos (tipo 320px) */
@media (max-width: 360px) {
    .fist-title {
        font-size: 1.8rem;
    }

    .img-games {
        width: 100px;
        height: 100px;
    }
}