/* INICIO */
.ppt-container1 {
    width: 100%;
    height: 30vh;
}

.first-title {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-shadow: 3px 3px 10px rgb(70, 150, 150);
    color: rgb(30, 80, 80);
}

.description,
.description-instructions {
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    color: rgb(30, 80, 80);
    margin: 2rem 0;
}

.description-players {
    margin-top: 1rem;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    font-weight: 600;
    color: rgb(30, 80, 80);
}

/* EN EL JUEGO */
.ppt-container2 {
    width: 100%;
    height: 60vh;
}

.btn-play {
    letter-spacing: 0.3rem;
    font-weight: 600;
    background-color: rgba(70, 100, 100, 0.6);
    border: 5px solid rgb(70, 100, 100);
    color: rgb(30, 80, 80);
    transition: all 0.3s ease-in-out;
    padding: 0.5rem 2rem;
    border-radius: 12px;
}

.points {
    width: 100vw;
    margin-bottom: 1.5rem;
}

.user,
.computer {
    background-color: rgba(70, 100, 100, 0.6);
    border: 5px solid rgb(70, 100, 100);
    color: bisque;
    transition: all 0.3s ease;
    padding: 0.5rem;
}



.btn-play:hover {
    background-color: rgb(30, 80, 80);
    color: rgba(70, 100, 100, 0.6);
    border: 5px solid rgb(70, 100, 100);
}

/* IMG */
.opcion-img {
    width: 10rem;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(70, 100, 100, 0.6);
    border: 5px solid rgb(70, 100, 100);
    transition: all 0.3s ease;
    cursor: pointer;
}

.opcion-img:hover {
    background-color: rgb(30, 80, 80);
    border-color: rgb(70, 100, 100);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* ANIMACIONES  */
@keyframes option {
    0% {
        opacity: 0;
        transform: scale(0.2);
        rotate: 0deg;
    }

    25% {
        transform: scale(0.4);
        rotate: -25deg;
    }

    50% {
        transform: scale(0.6);
        rotate: 25deg;
    }

    75% {
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        rotate: 0deg;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.3) rotate(0deg) scaleX(-1);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(270deg) scaleX(-1);
    }
}

@keyframes shake {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(90deg);
    }
}

.animate-option {
    animation: option 0.5s ease forwards;
}

.animate-fade {
    animation: fadeIn 0.5s ease forwards;
}

.animate-shake {
    animation: shake 0.5s ease forwards;
}